spring:
  application:
    name: studyBuddyAI
  datasource:
    url: jdbc:postgresql://localhost:5432/studybudy_db
    username: postgres
    password: bancopass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  ai:
    google:
      genai:
        api-key: ${GOOGLE_API_KEY}
        chat:
          options:
            model: gemini-2.5-flash

  docker:
    compose:
      enabled: false
      lifecycle-management: none